.ButtonHolder {
    height: 50px;
    width: 200px;
    margin: 5px;
    /* margin-top: 20px;
    margin-bottom: 20px;
    z-index: 1; */
}

.Button {
    border: 5px solid rgb(97, 141, 177);
	height: 50px;
	width: 200px;
	align-items: center;
	justify-content: center;
	font: 15px sans-serif;
	font-weight: 600;
	text-shadow: 0 0 20px #fff;
    text-transform: uppercase;
    color: rgb(54, 53, 53);
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    background-color: black;
    z-index: 2;
}
.Button:hover {
    border: 5px solid rgb(5, 62, 109);
    font-size: 18px;
}

.ButtonAura {
    border: 5px solid rgb(5, 62, 109);
    z-index: 1;
    border-radius: 8px;
    height: 40px;
    width: 190px;
    margin-top: 0px;
    position: absolute;
    animation: sunshines 4s infinite;
}


@keyframes sunshines {
    0% {
      transform: scale(1);
      opacity: 0.9;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }
